<!DOCTYPE HTML>
<html xmlns:fb="http://ogp.me/ns/fb#">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<meta name="fragment" content="!" />
		<base href="/">
		<meta charset="UTF-8">
		<link rel="icon" href="favicon.ico?v=3" type="image/x-icon">
		<link rel="shortcut icon" href="favicon.ico?v=3" type="image/x-icon">

		<title ng-if="$state.current.title || $state.current.parent.title"
		       ng-bind="($state.current.title || $state.current.parent.title) + ' | ' + 'God Hates Charades'"></title>
		<title ng-if="!$state.current.title && !$state.current.parent.title"
		       ng-bind="'God Hates Charades'"></title>
		<meta name="description" ng-content="$state.current.description"/>

		<!-- build:css css/style.admin.css -->
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/admin.css">
		<link rel="stylesheet" href="css/components.css">
		<link rel="stylesheet" href="css/components.admin.css">
		<link rel="stylesheet" href="css/views.admin.css">
		<link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css">
		<!-- endbuild -->
	</head>
	<body>
		<div class="">
			<debug></debug>
			<div class="viewLoader navbar navbar-default navbar-fixed-top"
				 ng-class="{loading: isViewLoading}">
				 <span class="bg-dark-bright">Loading...</span>
			</div>
			<div class="container">
				<nav></nav>
			</div>
			<div ui-view
			     class="content bg-light">
			</div>

			<footer></footer>
		</div> <!-- /container -->
		
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-animate.min.js"></script>
		<script src="https://www.youtube.com/iframe_api"></script>
		<!-- <script src="//apis.google.com/js/client.js?onload=googleApiClientReady"></script> -->

		<!-- build:js js/app.admin.js -->
		<script src="bower_components/lodash/lodash.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
		<script src="bower_components/ng-csv/build/ng-csv.js"></script>
		<script src="bower_components/restangular/src/restangular.js"></script>
		<script src="bower_components/angular-prismicio/src/angularPrismicio.js"></script>
		<script src="bower_components/prismic.io/dist/prismic.io.js"></script>
		<script src="bower_components/ng_html_compile/src/ngHtmlCompile.js"></script>
		<script src="bower_components/angular-slugify/angular-slugify.js"></script>
		<script src="bower_components/disqus-here/src/disqus-here.js"></script>
		<script src="bower_components/angular-cache/dist/angular-cache.min.js"></script>
		<script src="bower_components/angular-data/dist/angular-data.js"></script>
		<script src="bower_components/fuse.js/src/fuse.js"></script>
		<script src="bower_components/angular-youtube-mb/src/angular-youtube-embed.js"></script>
		<script src="bower_components/angular-ui-select/dist/select.min.js"></script>
		<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
		<script src="bower_components/ng-stats/dist/ng-stats.js"></script>
		<script src="bower_components/parse-js-sdk/lib/parse.js"></script>
		<script src="bower_components/angular-ui-sref-fastclick/angular-ui-sref-fastclick.js"></script>
		<script src="bower_components/chunk/src/chunk.js"></script>
		<script src="bower_components/js-htmlencode/src/htmlencode.js"></script>
		<script src="bower_components/ng-click-select/ng-click-select.js"></script>
		<script src="js/config.js"></script>
		<script src="js/app.admin.js"></script>
		<script src="js/templates.js"></script>
		<script src="js/templates.admin.js"></script>
		<script src="js/campaignService.js"></script>
		<script src="js/analyticsService.js"></script>
		<script src="js/vendor/word-wrap.js"></script>
		<!-- data factories -->
		<script src="components/data/pair.data.js"></script>
		<script src="components/data/profile.data.js"></script>
		<script src="components/data/set.data.js"></script>
		<script src="components/data/setItem.data.js"></script>
		<script src="components/data/suggestion.data.js"></script>
		<script src="components/data/user.data.js"></script>
		<script src="components/data/storeItem.data.js"></script>
		<script src="components/data/storeProduct.data.js"></script>
		<script src="components/data/storeItemCollection.data.js"></script>
		<script src="components/data/discount.data.js"></script>
		<!-- Admin Views -->
		<script src="views/admin/admin.state.js"></script>
		<script src="views/admin.export/admin.export.state.js"></script>
		<script src="views/admin.export/admin.export.controller.js"></script>
		<script src="views/admin.sets/admin.sets.state.js"></script>
		<script src="views/admin.sets/admin.sets.controller.js"></script>
		<script src="views/admin.sets.create/admin.sets.create.state.js"></script>
		<script src="views/admin.sets.create/admin.sets.create.controller.js"></script>
		<script src="views/admin.sets.detail/admin.sets.detail.state.js"></script>
		<script src="views/admin.sets.detail/admin.sets.detail.controller.js"></script>
		<script src="views/admin.cards/admin.cards.state.js"></script>
		<script src="views/admin.components/admin.components.state.js"></script>
		<script src="views/admin.moderation/admin.moderation.state.js"></script>
		<script src="views/admin.moderation/admin.moderation.controller.js"></script>
		<script src="views/admin.suggestions/admin.suggestions.state.js"></script>
		<script src="views/admin.suggestions/admin.suggestions.controller.js"></script>
		<script src="views/admin.upload/admin.upload.state.js"></script>
		<script src="views/admin.upload/admin.upload.controller.js"></script>
		<script src="views/admin.elements/admin.elements.controller.js"></script>
		<script src="views/admin.elements/admin.elements.state.js"></script>
		<script src="views/admin.discounts/admin.discounts.controller.js"></script>
		<script src="views/admin.discounts/admin.discounts.state.js"></script>
		<!-- App Views -->
		<script src="views/card/card.controller.js"></script>
		<script src="views/card/card.state.js"></script>
		<script src="views/home/home.state.js"></script>
		<script src="views/home/home.controller.js"></script>
		<script src="views/login/login.state.js"></script>
		<script src="views/login/login.controller.js"></script>
		<script src="views/publicProfile/publicProfile.state.js"></script>
		<script src="views/publicProfile/publicProfile.controller.js"></script>
		<script src="views/blog/blog.controller.js"></script>
		<script src="views/blog/blog.state.js"></script>
		<script src="views/blog.detail/blog.detail.state.js"></script>
		<script src="views/blog.detail/blog.detail.controller.js"></script>
		<script src="views/404/404.controller.js"></script>
		<script src="views/404/404.state.js"></script>
		<script src="views/vote/vote.state.js"></script>
		<script src="views/vote/vote.controller.js"></script>
		<script src="views/pair/pair.state.js"></script>
		<script src="views/pair/pair.controller.js"></script>
		<script src="views/top/top.state.js"></script>
		<script src="views/top/top.controller.js"></script>
		<script src="views/top.fame/top.fame.state.js"></script>
		<script src="views/top.fame/top.fame.controller.js"></script>
		<script src="views/top.shame/top.shame.state.js"></script>
		<script src="views/top.shame/top.shame.controller.js"></script>
		<script src="views/top.controversial/top.controversial.state.js"></script>
		<script src="views/top.controversial/top.controversial.controller.js"></script>
		<script src="views/rules/rules.state.js"></script>
		<script src="views/rules/rules.controller.js"></script>
		<script src="views/press/press.state.js"></script>
		<script src="views/press/press.controller.js"></script>
		<script src="views/share/share.state.js"></script>
		<script src="views/share/share.controller.js"></script>
		<script src="views/fixme/fixme.state.js"></script>
		<script src="views/fixme/fixme.controller.js"></script>
		<script src="views/error/error.state.js"></script>
		<script src="views/error/error.controller.js"></script>
		<script src="views/timeline/timeline.state.js"></script>
		<script src="views/timeline/timeline.controller.js"></script>
		<script src="views/resetPassword/resetPassword.state.js"></script>
		<script src="views/resetPassword/resetPassword.controller.js"></script>
		<script src="views/watch/watch.state.js"></script>
		<script src="views/watch/watch.controller.js"></script>
		<script src="views/submit/submit.state.js"></script>
		<script src="views/submit/submit.controller.js"></script>
		<script src="views/mail/mail.state.js"></script>
		<script src="views/mail.thanks/mail.thanks.state.js"></script>
		<script src="views/store/store.state.js"></script>
		<script src="views/store/store.controller.js"></script>
		<script src="views/store.thanks/store.thanks.state.js"></script>

		<!-- Services -->
		<script src="services/cloudUtils.js"></script>
		<script src="services/prismic.js"></script>
		<script src="services/mailingList.js"></script>
		<script src="services/leaderboard.js"></script>
		<script src="services/addthisService.js"></script>
		<script src="services/ytUploadService.js"></script>
		<script src="services/parseData.js"></script>
		<script src="services/cartService.js"></script>

		<!-- Filters -->
		<script src="filters/property.js"></script>
		<script src="filters/fuse.js"></script>
		<script src="filters/chunk.js"></script>
		<script src="filters/limit.js"></script>
		
		<!-- Admin Directives -->
		<script src="components/admin.downloader.js"></script>
		<script src="components/admin.codeHolder.js"></script>
		<script src="components/admin.examples.js"></script>
		<script src="components/admin.printer.js"></script>
		<script src="components/admin.setSelector.js"></script>
		<script src="components/admin.suggestionSelector.js"></script>
		<script src="components/admin.feedbackIcon.js"></script>
		
		<!-- Directives -->
		<script src="components/debug.js"></script>
		<script src="components/textarea-noreturn.js"></script>
		<script src="components/card.js"></script>
		<script src="components/cardInfo.js"></script>
		<script src="components/pairInfo.js"></script>
		<script src="components/nav.js"></script>
		<script src="components/userinfo.js"></script>
		<script src="components/login.js"></script>
		<script src="components/signup.js"></script>
		<script src="components/vote.js"></script>
		<script src="components/userSubmissions.js"></script>
		<script src="components/submit.js"></script>
		<script src="components/actionForm.js"></script>
		<script src="components/youtube.js"></script>
		<script src="components/mailingList.js"></script>
		<script src="components/socialUnlock.js"></script>
		<script src="components/ngContent.js"></script>
		<script src="components/iframeFluid.js"></script>
		<script src="components/vine.js"></script>
		<script src="components/prompt.js"></script>
		<script src="components/templateInclude.js"></script>
		<script src="components/ribbon.js"></script>
		<script src="components/addthis.js"></script>
		<script src="components/ytSubscribe.js"></script>
		<script src="components/youtubeUpload.js"></script>
		<script src="components/signupSection.js"></script>
		<script src="components/cardForm.js"></script>
		<script src="components/cardLink.js"></script>
		<script src="components/cardInfoTable.js"></script>
		<script src="components/cardPairsInfoTable.js"></script>
		<script src="components/cardPairs.js"></script>
		<script src="components/cardDetails.modal.js"></script>
		<script src="components/youtube.modal.js"></script>
		<script src="components/youtubeList.js"></script>
		<script src="components/preorderSection.js"></script>
		<script src="components/footer.js"></script>
		<script src="components/fix-bottom.js"></script>
		<script src="components/storeProduct.js"></script>
		<script src="components/cart.js"></script>

		<!-- Main -->
		<script src="js/main.js"></script>
		<!-- endbuild -->

		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-535700775b0c9761" async="async"></script>
		<!-- <script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script> -->

		<script src="https://cdn.supportkit.io/supportkit.min.js"></script>
		<script>
			SupportKit.init({appToken: '6xor2vot65s6tb1fuaq9x6tqa'});
		</script>

		<!-- Youtube Embed Button -->
		<script src="https://apis.google.com/js/platform.js"></script>
		<!-- end Youtube Embed Button -->

    <!-- Heap Analytics -->
    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+t+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
    	if(CONFIG.DEV) {
	      heap.load("3061734501");
    	} else {
    		heap.load("3330573858");
    	}
    </script>
    <!-- End Heap Analytics -->

		<!-- Google Analytics -->
		<script>
			if(!CONFIG.DEV) {
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-46949024-1', 'godhatescharades.com');
				ga('require', 'linkid', 'linkid.js');
				ga('require', 'displayfeatures');
				ga('send', 'pageview');
			}
		</script>

		<!-- Facebook -->
		<script>
			if(!CONFIG.DEV) {
				(function() {
				var _fbq = window._fbq || (window._fbq = []);
				if (!_fbq.loaded) {
				var fbds = document.createElement('script');
				fbds.async = true;
				fbds.src = '//connect.facebook.net/en_US/fbds.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(fbds, s);
				_fbq.loaded = true;
				}
				_fbq.push(['addPixelId', '871590652930891']);
				})();
				window._fbq = window._fbq || [];
				window._fbq.push(['track', 'PixelInitialized', {}]);
			}
		</script>
		<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=871590652930891&amp;ev=PixelInitialized" /></noscript>

	</body>
</html>